body {
    font-family: "Roboto", sans-serif;
    /* background-color: #f0f0f0; */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100vh;
    
    
    margin: 0px 180px;
    background-image: url('TM2.jpg'); /* Replace with the correct path to your image */
    background-size: cover; /* Scales the image to cover the entire background area */
    background-repeat: no-repeat; /* Prevents repeating the image */
    background-position: center center; /* Centers the image */
    

}

.login-container{
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 58px;
    
    /* box-shadow: 0px 0px 40px rgba(0, 94, 255, 0.43); */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 53px 5px rgb(66, 23, 23);
    
    
    width: 400px;
    height: 500px;
    color: rgb(53, 29, 29);
    
}

.login-container:hover{
    border: 12px solid rgba(140, 153, 255, 0);
    transition: ease-in 0.3s;
}

h2 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 3rem;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    /* display: block; */

    margin-bottom: 55px;
    width: 100%;
}

.form-group input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
   
   
}



button {
    width: 50%;
    padding: 10px;
    background-color: #ff3131;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-top: 25px;
}

button:hover {
    background-color: #c13b1a;
}

#error-message {
    color: red;
    text-align: center;
    margin-top: 10px;
}
